//图片参数
@imgBackground: '../lib/images/stage_sky.png';
@imgBird: '../lib/images/bird.png';
@imgGameOver: '../lib/images/game_over.png';
@imgGetReady: '../lib/images/get_ready.png';
@imgLogo: '../lib/images/logo.png';
@imgNewRecord: '../lib/images/new_record.png';
@imgNumbers: '../lib/images/numbers.png';
@imgNyancat: '../lib/images/nyancat.png';
@imgPipeBody: '../lib/images/pipe_body.png';
@imgPipeHead1: '../lib/images/pipe_head_1.png';
@imgPipeHead2: '../lib/images/pipe_head_2.png';
@imgScoreBoard: '../lib/images/score_board.png';
@imgShare: '../lib/images/share.png';
@imgFloor: '../lib/images/stage_ground.png';
@imgStart: '../lib/images/start.png';
@imgTap: '../lib/images/tap.png';


//content参数
@bgcolor:#000;
@contentWidth:500px;
@contentHeight:600px;
@contentBorder:2px solid black;

@marginTop:50px;
@centerMargin:@marginTop auto;

//地板参数
@floorHeight: 50px;
@floorWidth: image-width(@imgFloor);

//管子参数
@pipeMargin: 100px;


.common(){
  position:absolute;
  background-repeat: no-repeat;
}
*{
  padding: 0;
  margin: 0;
}
#content{
  position: relative;
  width:@contentWidth;
  height:@contentHeight;
  border:@contentBorder;
  margin: @centerMargin;
  background-image: url(@imgBackground);
  -webkit-background-size: @contentWidth @contentHeight - @floorHeight;
  background-size: @contentWidth @contentHeight - @floorHeight;
  //overflow: hidden;
  .logo{
    width: image-width(@imgLogo);
    height: image-height(@imgLogo);
    top: @marginTop + image-height(@imgLogo);
    margin-left: (@contentWidth - image-width(@imgLogo)*0.8)/2;
    background-image: url(@imgLogo);
    -webkit-background-size: 80%;
    background-size: 80%;
    .common;
  }
  .bird{
    width: image-width(@imgBird);
    height: image-height(@imgBird)*0.8/3;
    top: @marginTop + image-height(@imgLogo) - 40px;
    margin-left: (@contentWidth - image-width(@imgBird)*0.8)/2;
    background-image: url(@imgBird);
    -webkit-background-size: 80%;
    background-size: 80%;
    .common;
    z-index: 10;
  }
  .start{
    width: image-width(@imgStart);
    height: image-height(@imgStart);
    top: @marginTop + @contentHeight/2 - image-height(@imgStart)*0.3;
    margin-left: (@contentWidth - image-height(@imgStart)*0.8)/3;
    background-image: url(@imgStart);
    -webkit-background-size: 80%;
    background-size: 80%;
    .common;
  }
  .pipes{
    //overflow: hidden;
    //z-index: -1;
    position: absolute;
    width: image-width(@imgPipeHead1)/1.5*3 + @pipeMargin*6;
    height: @contentHeight;
    margin-left: @contentWidth;
  }
  .pipesCopy{
    .pipes;
    margin-left: @contentWidth + image-width(@imgPipeHead1)/1.5*3 + @pipeMargin*6;
  }
  .pipe{
    float: left;
    height: @contentHeight - @floorHeight;
    margin-left: @pipeMargin;
    margin-right: @pipeMargin;
    .top{
      .pipeBody{
        width: image-width(@imgPipeBody)/1.5;
        height: image-height(@imgPipeBody)*10;
        background-image: url(@imgPipeBody);
        margin-left: (image-width(@imgPipeHead1) - image-width(@imgPipeBody))/3;
        -webkit-background-size: 100%;
        background-size: 100%;
        background-repeat:repeat-y;
      }
      .pipehead{
        width: image-width(@imgPipeHead1)/1.5;
        height: image-height(@imgPipeHead1)/1.5;
        background-image: url(@imgPipeHead1);
        -webkit-background-size: 100%;
        background-size: 100%;
      }
    }
    .bottom{
      margin-top: 200px;
      -webkit-background-size: image-width(@imgPipeHead2) 100%;
      background-size: image-width(@imgPipeHead2) 100%;
      .pipeBody{
        .top .pipeBody;
      }
      .pipehead{
        .top .pipehead;
        background-image: url(@imgPipeHead2);
      }
    }
  }
  .floor{
    width: @contentWidth*2;
    height: @floorHeight;
    top: @marginTop + @contentHeight - @floorHeight*2;
    margin-left: 0;
    background-image: url(@imgFloor);
    .common;
    background-repeat: repeat-x;
    z-index: 10;
  }

  .gameReady{
    width: @contentWidth;
    height:@contentHeight;
    position: absolute;
    .common;
    background-repeat:no-repeat;
    display: none;
    .ready{
      width: image-width(@imgGetReady)*0.8;
      height: image-height(@imgGetReady)*0.8;
      background-image: url(@imgGetReady);
      -webkit-background-size: 100%;
      background-size: 100%;
      position: absolute;
      top: @marginTop + image-height(@imgGetReady)/4;
      margin-left: (@contentWidth - image-width(@imgGetReady)*0.8)/2;
    }
    .tap{
      width: image-width(@imgTap)*0.8;
      height: image-height(@imgTap)*0.8;
      background-image: url(@imgTap);
      -webkit-background-size: 100%;
      background-size: 100%;
      position: absolute;
      top: @marginTop + image-height(@imgTap)/1.8;
      margin-left: (@contentWidth - image-width(@imgTap)*0.8)/2;
    }
  }
  .gameOver{
    width: @contentWidth;
    height: @contentHeight;
    display: none;
  }
}
